* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  scroll-behavior: smooth;
  list-style: none;
  outline: none;
}
.topheader-color,
header,
.sidebar {
  position: sticky;
  z-index: 999;
  top: 0;
}
.topheader-color {
  background-color: #7bf1a8;
  height: 40px;
  width: 100%;
  display: inline-flex;
  border-radius: 0;
}
.phone-contact {
  display: flex;
  align-items: center;
  margin-left: 20%;
  width: 200px;
  height: 40px;
  color: #1a1a1a;
  transition: transform 0.3s;
  text-decoration: none;
}
.phone-contact:hover {
  transform: scale(1.1);
  color: #1a1a1a;
  cursor: pointer;
}
.phone-contact .socialmedia-icon i {
  text-align: center;
}
.socialmediacontainer {
  display: flex;
  align-items: center;
  height: 40px;
  float: right;
  margin-left: 20%;
}
.socialmediacontainer p {
  position: relative;
  top: 8px;
  margin-right: 10px;
  color: #1a1a1a;
}
.socialmedia-button {
  height: 32px;
  width: 32px;
  margin-right: 10px;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  float: left;
  overflow: hidden;
  transition: 0.3s;
  color: black;
}
.socialmedia-button:hover {
  width: 125px;
}
.fadewrapper:nth-child(3) .socialmedia-button:hover {
  color: #fff;
  background-color: #4169e1;
}
.fadewrapper:nth-child(4) .socialmedia-button:hover {
  color: #fff;
  background: linear-gradient(to right, #8a3ab9, #e95950, #fccc63);
}
.fadewrapper:nth-child(5) .socialmedia-button:hover {
  color: #fff;
  background-color: #ff6347;
}
.fadewrapper:nth-child(6) .socialmedia-button:hover {
  color: #fff;
  background-color: #00acee;
}
.socialmedia-button .socialmedia-icon {
  display: inline-block;
  height: 32px;
  width: 32px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
}
.socialmedia-icon i {
  font-size: 16px;
  line-height: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50px;
}
.socialmedia-button strong {
  font-size: 14px;
}
.signInlink {
  display: none;
  text-decoration: none;
  color: #1a1a1a;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s;
}
.signInlink:hover {
  color: #1a1a1a;
  transform: scale(1.1);
}
.signInlink i {
  margin-right: 5px;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  top: 40px;
}
.bigscreen-header {
  width: 100%;
  display: flex;
  align-items: center;
}
.smallscreen-header {
  width: 100%;
  display: none;
}
.sidebar-togglebutton {
  margin-left: 40%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #4d4d4d;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}
.sidebar-togglebutton:hover {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
/*--------------------------Header css kodu------------------------------*/
header img {
  height: 120px;
  background-color: #fff;
  margin-left: 20%;
  position: relative;
  top: 26px;
}
.nav {
  margin-left: 5%;
}
.nav-item a {
  color: #808080;
  transition: all 0.3s;
  margin-left: 10px;
  border-radius: 5px;
}
.nav-item:nth-child(2) a:focus {
  color: #4d4d4d;
  background-color: rgba(123, 241, 168, 0.5);
}
.dropdown-menu a {
  color: #4d4d4d;
  margin-left: 0;
  border-radius: 0;
}
.nav-item .active {
  color: #1a1a1a;
}
.nav-item a:hover {
  color: #4d4d4d;
  background-color: #7bf1a8;
}
.signInbutton {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #7bf1a8;
  color: #1a1a1a;
  margin-left: 15%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.signInbutton:hover {
  box-shadow: 0 0 40px 0 rgba(123, 241, 168, 0.7);
  color: #1a1a1a;
}
/*----------------------------------------Küçük ekranda açılacak olan sidebar css kodları-----------------------------------*/
.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  display: block;
  height: 100vh;
  background-color: #7bf1a8;
  transform: translateX(-300px);
  transition: all 0.3s;
}
.sidebar-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.sidebar img {
  margin-left: 15%;
  height: 100px;
  top: 0;
  background-color: transparent;
}
.sidebar-closebutton {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 5%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #4d4d4d;
  font-size: 24px;
  margin-top: 20px;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
}
.sidebar-closebutton:hover {
  background-color: #f2f2f2;
  color: #808080;
}
.sidebar-nav {
  display: block;
  margin-top: 30px;
  position: relative;
}
.sidebar-nav .nav-item .active {
  color: #000;
}
.sidebar-nav .nav-item a {
  color: #4d4d4d;
}
.sidebar-nav .nav-item a:hover {
  background-color: #f2f2f2;
}
.sidebar .signInbutton {
  width: 280px;
  margin: 30px 10px;
  background-color: #f2f2f2;
  color: #1a1a1a;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .signInbutton:hover {
  background-color: #e6e6e6;
  box-shadow: 0 0 30px 0 rgba(242, 242, 242, 0.3);
  color: #1a1a1a;
}
.show {
  transform: translateX(0);
}
/*----------------------------------------sidebar css kodları sonu--------------------------------------------*/

/*-----------------------------------------------içerik css kodu---------------------------------------*/
.wrapper {
  height: auto;
}
.wrapper-header {
  text-align: center;
  margin-top: 50px;
}
.cards-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px 0;
  padding: 50px 0;
  background-color: #f2f2f2;
}
.course-card {
  width: 300px;
  height: 450px;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
  transition: all 0.3s;
  margin: 20px;
  border: 1px solid #e6e6e6;
  display: block;
}
.course-card img {
  width: 100%;
  filter: brightness(50%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.coursecard-extra {
  position: absolute;
  top: 140px;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}
.course-card h4 {
  margin-left: 20px;
  color: #f2f2f2;
  margin-top: 20px;
}
.coursecard-extrabutton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: rgb(161, 238, 191);
  box-shadow: 0 0 20px 0 #b1f8cc;
  position: absolute;
  right: 20px;
  text-decoration: none;
  cursor: pointer;
}
.rotate {
  transform: rotate(180deg);
}
.coursecard-extrabutton i {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #2bbe64;
}
.coursecard-extrabutton i:hover {
  animation-name: turn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes turn {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(450deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card-infotext {
  width: 100%;
  height: 250px;
  position: relative;
  padding: 15px 20px 10px 20px;
  border-radius: 5px;
  transition: all 0.3s;
  background-color: #fff;
  overflow-y: auto;
}
.card-infotext span {
  font-size: 20px;
  color: #2bbe64;
  font-weight: 600;
  margin-right: 20px;
}
.card-infotext div {
  color: #808080;
}
.card-infotext hr {
  border: 1px solid #b3b3b3;
}
/*--------------------------------------------------footer css kodu------------------------------------------*/
footer {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  background-color: #7bf1a8;
  display: flex;
}
.footericon-container,
.footercontact-container {
  margin-top: 50px;
  width: 500px;
}
.footericon-container {
  margin-left: 20%;
}
.footercontact-container {
  margin-left: 10%;
}
.footer-header {
  font-size: 24px;
}
.footericon-header {
  text-align: center;
}
.footersocialmedia-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.smallsocialmediacontainer {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}
.smallsocialmediacontainer a {
  text-decoration: underline;
  color: #4d4d4d;
}
.smallsocialmediacontainer a:hover {
  color: #1a1a1a;
}
.footersocialmedia-container .socialmedia-button {
  width: 64px;
  height: 64px;
  margin-right: 75px;
}
.footersocialmedia-container .socialmedia-button:hover {
  width: 200px;
}
.footersocialmedia-container .socialmedia-icon {
  height: 64px;
  width: 64px;
}
.footersocialmedia-container .socialmedia-icon i {
  font-size: 24px;
  line-height: 64px;
}
.footer-fadewrapper:nth-child(1) .socialmedia-button:hover {
  color: #fff;
  background-color: #4169e1;
}
.footer-fadewrapper:nth-child(2) .socialmedia-button:hover {
  color: #fff;
  background: linear-gradient(to right, #8a3ab9, #e95950, #fccc63);
}
.footer-fadewrapper:nth-child(3) .socialmedia-button:hover {
  color: #fff;
  background-color: #ff6347;
}
.footer-fadewrapper:nth-child(4) .socialmedia-button:hover {
  color: #fff;
  background-color: #00acee;
}
.footersocialmedia-container .socialmedia-button strong {
  font-size: 16px;
}
.footer-text {
  width: 100%;
  line-height: 24px;
  margin-top: 50px;
}
/*--------------------------------------Medya sorguları------------------------------------*/
@media only screen and (min-width: 1440px) {
  .sidebar {
    transform: translateX(-300px);
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .sidebar {
    transform: translateX(-300px);
  }
  .signInbutton {
    margin-left: 5%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .topheader-color {
    justify-content: center;
  }
  .phone-contact {
    margin-left: 0;
  }
  .socialmediacontainer {
    display: none;
  }
  header img {
    margin-left: 10%;
  }
  .signInbutton {
    margin-left: 5%;
  }
  .sidebar {
    transform: translateX(-300px);
  }

  .footericon-container {
    margin-left: 10%;
  }
  .footersocialmedia-container {
    display: none;
  }
  .smallsocialmediacontainer {
    display: flex;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .topheader-color {
    justify-content: space-evenly;
  }
  .phone-contact {
    margin-left: 0;
  }
  .socialmediacontainer {
    display: none;
  }
  .signInlink {
    display: flex;
  }
  .bigscreen-header {
    display: none;
  }
  .smallscreen-header {
    display: flex;
    align-items: center;
  }
  footer {
    display: block;
    padding-top: 20px;
  }
  .footericon-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .footercontact-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 70px;
  }
  .footersocialmedia-container {
    display: none;
  }
  .smallsocialmediacontainer {
    display: flex;
    justify-content: space-evenly;
    margin-right: 0;
  }
  .smallsocialmediacontainer a {
    margin-right: 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .topheader-color {
    justify-content: space-evenly;
  }
  .phone-contact {
    margin-left: 0;
  }
  .socialmediacontainer {
    display: none;
  }
  .signInlink {
    display: flex;
  }
  .bigscreen-header {
    display: none;
  }
  .smallscreen-header {
    display: flex;
    align-items: center;
  }
  footer {
    display: block;
    padding-top: 20px;
  }
  .footericon-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .footercontact-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 70px;
  }
  .footersocialmedia-container {
    display: none;
  }
  .smallsocialmediacontainer {
    display: flex;
    justify-content: space-evenly;
    margin-right: 0;
  }
  .smallsocialmediacontainer a {
    margin-right: 0;
  }
}
@media only screen and (min-width: 340px) and (max-width: 575px) {
  .topheader-color {
    justify-content: space-evenly;
  }
  .phone-contact {
    margin-left: 0;
  }
  .socialmediacontainer {
    display: none;
  }
  .bigscreen-header {
    display: none;
  }
  .smallscreen-header {
    display: flex;
    align-items: center;
  }
  .smallscreen-header img {
    margin-left: 5%;
  }
  .sidebar-togglebutton {
    margin-left: 30%;
  }
  .signInlink {
    display: flex;
  }
  footer {
    display: block;
    padding-top: 20px;
  }
  .footercontact-container,
  .footericon-container {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .footercontact-container {
    margin-top: 70px;
  }
  .footersocialmedia-container {
    display: none;
  }
  .smallsocialmediacontainer {
    display: flex;
    justify-content: space-around;
    margin-right: 0;
  }
  .smallsocialmediacontainer a {
    margin-right: 0;
  }
}
@media only screen and (max-width: 340px) {
  .topheader-color {
    justify-content: space-evenly;
  }
  .phone-contact {
    margin-left: 0;
  }
  .socialmediacontainer {
    display: none;
  }
  .bigscreen-header {
    display: none;
  }
  .smallscreen-header {
    display: flex;
    align-items: center;
  }
  .smallscreen-header img {
    margin-left: 5%;
  }
  .sidebar-togglebutton {
    margin-left: 30%;
  }
  .signInlink {
    display: flex;
  }
  .course-card {
    margin-left: 0;
    margin-right: 0;
  }
  footer {
    display: block;
    padding-top: 20px;
  }
  .footercontact-container,
  .footericon-container {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .footericon-container {
    width: 100%;
  }
  .footercontact-container {
    margin-top: 70px;
  }
  .footersocialmedia-container {
    display: none;
  }
  .smallsocialmediacontainer {
    display: flex;
    justify-content: space-around;
    margin-right: 0;
  }
  .smallsocialmediacontainer a {
    margin-right: 0;
  }
}
